@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200;500&display=swap');

body {
    font-family: 'Fira Sans', sans-serif; /*extra-light 200, medium 500*/
    background-color: #3B3B3B;
    color: #FFF;
}

.container {
    max-width: 992px;
}

.card {
    width: 100%;
    background-color: #3B3B3B;
    color: #FFF;
    border: 2px solid #FFF;
    border-radius: 8px;
}

.card img {
    width: 100%;
    cursor: pointer;
    padding: 10px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.card button {
    width: 100%;
}

.card-body {
    text-align: center;
}

.card-text {
    font-weight: 400;
}

.summary-body {
    text-align: left;
}

.summary img {
    width: 50%;
}

.price {
    color: #D4AF37;
}

::-moz-selection { 
    color: #fcc71b;
    background: #000;
  }
  
  ::selection {
    color: #fcc71b;
    background: #000;
  }

  @media only screen and (max-width: 575px) {
    .card {
        margin-top: 10px;
    }
  }