@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200;500&display=swap');

body {
    font-family: 'Fira Sans', sans-serif; /*extra-light 200, medium 500*/
}

.container {
    width: 992px;
}

.card {
    width: 100%;
}

.card img {
    width: 100%;
}

.card button {
    width: 100%;
}

.card-body {
    text-align: center;
}

.card-text {
    font-weight: 400;
}

.summary-body {
    text-align: left;
}

.summary img {
    width: 50%;
}